{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="row">
        <div class="col-12"> 
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="">Examination Body</a></li>                  
                        <li class="breadcrumb-item active">Update</li>
                    </ol>
                </div>
                <h4 class="page-title">Update Examination Body</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>ERROR! </strong> {{error}}
                </div> 
                {% endif %}
                <form method="POST" action="{% url 'examination_body_app:update_post' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="acronym" class="col-form-label">Acronym</label>
                        <input type="text" value="{{queryset.acronym}}" required class="form-control" id="acronym" name="acronym" placeholder="acronym" v-model="acronym">
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" value="{{queryset.name}}" required class="form-control" id="name" name="name" placeholder="name" v-model="name">
                    </div>
                    <input hidden type="text" value="{{queryset.id}}" required class="form-control" id="pk" name="pk">
                    <br>
                    <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Update">
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}