<table style="border: solid 1px #eeeeee;">
    <thead style="background: #eeeeee;">
        <tr>
            <th style="padding: 10px;"> # </th>
            <th style="padding: 10px;"> Acronym </th>
            <th style="padding: 10px;"> Name </th>            
        </tr>
    </thead>
    <tbody>
    </tbody>
        {% for data in record %}
            <tr style="border: solid 1px #eeeeee;">
                <td> {{forloop.counter}} </td>
                <td> {{data.acronym}} </td>
                <td> {{data.name}} </td>                
            </tr>
        {% endfor %}
    </tbody>
</table>