{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="">Examination</a></li>
                    <li class="breadcrumb-item"><a href="">Paper</a></li>                    
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
            <h4 class="page-title">Create Examination Paper</h4>
        </div>
    </div>
</div>
{% endblock%}