{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="row">
        <div class="col-12"> 
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="">Examination</a></li>                        
                        <li class="breadcrumb-item"><a href="">Exam Paper</a></li>
                        <li class="breadcrumb-item"><a href="">Instructions</a></li>                    
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>ERROR! </strong> {{error}}
                </div> 
                {% endif %}
                <div class="row" style="text-align: center;">
                    <div class="col-12" ><h1>{{exam_paper.examination.examination_body.name}}</h1></div>
                    <div class="col-12" ><h1>{{exam_paper.examination.name}}</h1></div>
                    <div class="col-12" ><h1>{{exam_paper.subject}}</h1></div>
                    <div class="col-12" ><h1>{{exam_paper.name}} {{exam_paper.year}}</h1></div>
                    <div class="col-12" ><h3>{{exam_paper.exam_duration}} Minutes</h3></div>
                </div>

                <div class="row"> <div class="col-12" ><h4 class="page-title">Create Instructions</h4></div> </div>
                <form method="POST" action="{% url 'examination_paper_app:create_instructions_post' %}">
                    {% csrf_token %}
                    <textarea id="instructions" name="instructions"></textarea>
                    <input type="text" value="{{exam_paper.pk}}" required class="form-control" id="exam_paper" name="exam_paper">
                    <br>
                    <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Next">
                    
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    // Replace the <textarea id="editor1"> with a CKEditor 4
    // instance, using default configuration.
    CKEDITOR.replace( 'instructions' );
</script>
{% endblock %}