{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="row">
        <div class="col-12"> 
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="">Examination</a></li>                        
                        <li class="breadcrumb-item"><a href="">Exam Paper</a></li>                    
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
                <h4 class="page-title">Create Examination Paper</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <form>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="item" class="col-form-label">Item</label>
                            <input type="text" required class="form-control" id="item" name="item"
                                placeholder="Item" v-model="item">
                                <p id="error-message"></p>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}